p{
   font-size: 16px;  
   color:blue;
   border: solid 1px black;
}

#seletor3{
    font-size: 18px;
    color:red;
}

.seletor4{
    font-size: 20px;
    color:green;
    border-color: red;
}

.seletor6{
    font-size: 24px;
    color:yellow;
}

.seletor8{
    font-size: 28px;
    color:aqua;
}

p{
    font-size: 12px;
}

.seletor6{
    font-size: 12px;
}